/*----------------------//Root Styles//---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,700;0,900;1,300;1,400&display=swap');
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    font-family: 'Titillium Web', sans-serif;
}

body {
    line-height: 1.2rem;
    background-color: var(--clr-mn-1);
}
h1 {
    font-size: 3rem;
    font-weight: 700;
}
:root {
    --clr-mn-1: #0d5175;
    ----green: #4CAF50;
    --light: rgba(255, 255, 255, 0.85);
    --dark: #041c29; /*darkblue)*/
 
}
.dark {
    color: var(--dark);
}
.light {
    color: var(--light);
}
/*----------------------xx//Root Styles//xx---------------------------*/

/*----------------------//Navbar Style//---------------------------*/
/*Overrule bootstrap styles*/
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
.navbar {
    border-bottom: 2px solid var(----green);
    width: 90%;
    left: 5%;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
}
.nav-item {
    padding-left: 2rem;
    font-size: 1.2rem;
}
/*----------------------xx//Navbar Style//xx---------------------------*/

/*----------------------//Hero Style//---------------------------*/
.hero-container {
    color: var(--light); 
    height: 65vh;
}
.hero-info {
    margin-top: 200px;
}

.title {
    color: var(--light);
}
.quick-pitch {
    width: 50ch;
    padding-top: .1rem;
}
.hero-left {
    padding-right: 4rem;
}
.logo-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
/*----------------------xx//Hero Style//xx---------------------------*/

/*----------------------xx//How it works Style//xx---------------------------*/

.how-it-works { /*Overall section wrapper*/
    background-color: var(--light);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.how-tagline {
    padding-bottom: 1rem;

}
.steps {
    padding-bottom: 1rem;
}
.steps > * {
    display: block;
    margin-left: 20px;
}

.how-head {
    color: var(--clr-mn-1);
    padding: 1rem 0 .5rem;
    text-align: center;

}

.how-info-box {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/*source for below - https://www.w3docs.com/tools/code-editor/17742*/
.how-info-box {
    /* border: 2px solid lightblue; */
    height: auto;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.fas, .far {
    font-size: 2rem;
}
.icon-bg {
    background: #ffc0c0;
    padding:20px;
    border-radius: 50%;
}
.proposal {
    padding: .5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


    }   
.proposal-txt {
    /* width: 75ch; */
    text-align: center;
    width: 70%;
    margin: auto;
}
.btn-proposal {
    padding-top: 2rem;
}
/*----------------------xx//How it works Style//xx---------------------------*/

/*----------------------//Why it works Style//---------------------------*/
.why-it-works {
    padding-top: 2rem;
}
.why-it-works p {
    color: var(--light);
}

.about-image{
    height: 80vh;
    background-image: url(/assets/images/net_blk.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 48, 73, 0.7);
}
.about-image p {
    color: var(--light);
    font-size: 2em;
    line-height: 1.2em;
    text-align: right;
    padding-top: .5em;
}
/*----------------------xx//Why it works Style//xx---------------------------*/

/*----------------------//Visions introduction//---------------------------*/
.vision-intro {
    background-color: var(--light);
    text-align: center;
}
.heading-dark {
    text-align: center;
    padding: 2rem 0 1.5rem;
}
.vision-steps {
    /* border: 1px solid red; */
    height: 200px;
    text-align: center;
    padding-top: 1.5rem;
}
.vision-intro * span {
    color: red;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--green);
}
.btm-row {
    padding: 2rem 0 1rem 0;
}

/*----------------------xx//Visions introduction//xx---------------------------*/


/*----------------------//Footer Style//---------------------------*/
.green {
    color: var(--green);
}
.copyright {
    font-size: 1.5rem;
}
.designer {
    margin-left: 2rem ;
    font-size: 1rem;
}
.text {
    text-align: center;
}


/*----------------------xx//Footer Style//xx---------------------------*/

/*----------------------//Components//---------------------------*/

/*-------------//Buttons//------------- */
/*Fancy link source - https://www.youtube.com/watch?v=ceNMP-aQkQ4&t=949s*/
.fancy-link {
    position: relative;
}
.fancy-link::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 87%;
    height: 2px;
    background-color: currentColor;
    transform: scalex(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
    color: var(--green);
}
.fancy-link-2::after {
    width: 83%;
}
.fancy-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    color: var(--green);
}
/*Wayne's code below*/
a.fancy-link {
    font-size: 1.1em;
    color: var(--green);
}
a.fancy-link:hover {
    color: var(--green);
}
/*-------------xx//Buttons//xx------------- */
/*----------------------xx//Components//xx---------------------------*/