/*----------------------//Root Styles//---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,700;0,900;1,300;1,400&display=swap');
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.3rem;
}
ul {
    list-style-type: none;
  }
body {
    line-height: 1.2rem;
    background-color: var(--clr-mn-1);
}
html {
    scroll-behavior: smooth;
}
.heading {
    font-size: 3rem;
}
.subheading {
    font-size: 1.5rem;
}
.text-highlight {
    font-size: 1.2rem;
}
.left {
    text-align: left;
}
:root {
    --blue: #0d5175;
    --green: #4CAF50;
    --light: rgba(255, 255, 255, 0.85);
    --dark: #041c29; /*darkblue)*/
}
.dark {
    color: var(--dark);
}
.light {
    color: var(--light);
}
.green {
    color: var(--green);
}
/*----------------------xx//Root Styles//xx---------------------------*/
/*----------------------//Navbar Style//---------------------------*/
/*Overrule bootstrap styles*/
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--light);
}
.navbar {
    border-bottom: 2px solid var(--green);
    width: 90%;
    left: 5%;
}
.nav-item {
    padding-left: 2rem;
    font-size: 1.2rem;
}
.background-hero {
    background: radial-gradient(at right 50%, #0a3d58,#0d5175,#1473a7);
}
.navbar-text {
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light);
}
.navbar-text:hover {
    color: var(--green);
    transition: .5s;
    text-decoration: none;
}
/*----------------------xx//Navbar Style//xx---------------------------*/
/*----------------------//Hero Style//---------------------------*/
.hero-container {
    color: var(--light); 
    height: 65vh;
}
.hero-info {
    margin-top: 200px;
}
.title {
    color: var(--green);
    font-weight: 600;
}
.quick-pitch {
    width: 50ch;
    padding-top: .1rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.75rem;
}
.hero-left {
    padding-right: 4rem;
}
.logo-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid var(--green);
}
.link {
    scroll-behavior: smooth;
}
/*----------------------xx//Hero Style//xx---------------------------*/
/*----------------------xx//How it works Style//xx---------------------------*/
.how-it-works {
    background-color: var(--light);
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}
.how-tagline {
    padding-bottom: 1rem;
}
.steps {
    padding-bottom: 1rem;
}
.steps > * {
    display: block;
    margin-left: 20px;
}
.how-head {
    color: var(--clr-mn-1);
    padding: 1rem 0 .5rem;
    text-align: center;
}
.how-info-box {
    padding: 1rem;
    background-color: var(--blue);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/*source for .how-info-box - https://www.w3docs.com/tools/code-editor/17742*/
.how-info-box {
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fas, .far {
    font-size: 2rem;
}
.icon-bg {
    background: var(--green);
    padding:20px;
    border-radius: 50%;
    margin-top: -70px;
}
.proposal {
    padding: .5rem;
    background-color: var(--blue);
    color: var(--light);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}   
.proposal-txt {
    text-align: center;
    width: 70%;
    margin: auto;
}
.btn-proposal {
    padding-top: 2rem;
}
/*----------------------xx//How it works Style//xx---------------------------*/
/*----------------------//Why it works Style//---------------------------*/
.why-it-works {
    padding: 2rem 0 2rem;
    background-color: var(--blue);
}
.why-it-works p {
    color: var(--light);
}
.about-image{
    height: 80vh;
    background-image: url(/assets/images/net_blk.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 48, 73, 0.7);
}
.about-image p {
    color: var(--light);
    font-size: 2em;
    line-height: 1.2em;
    text-align: right;
    padding-top: .5em;
}
/*----------------------xx//Why it works Style//xx---------------------------*/
/*----------------------//Visions introduction//---------------------------*/
.vision-intro {
    background-color: var(--light);
    text-align: center;
    padding: 2rem 0 1.5rem;
}
.vi-intro {
    padding-top: 1rem;
}
.vision-steps {
    /* border: 1px solid red; */
    height: 200px;
    text-align: center;
    padding-top: 1.5rem;
}
.vision-intro * span {
    color: red;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--green);
}
.btm-row {
    padding: 2rem 0 1rem 0;
}
/*----------------------xx//Visions introduction//xx---------------------------*/
/*----------------------//Visions Selector//---------------------------*/
.vision-selector {
    padding-top: 2rem;
    text-align: center;
    line-height: 1.5em;
    background-color: var(--blue);
}
.progress {
    height: 35px;
    margin: 1em auto;
    background-color: var(--blue);
}
.progress-bar {
    background-color: var(--light);
    border-radius: 20px;
}
.progress-bar p {
    font-size: 1.5em;
    margin: auto;
    text-transform: capitalize;
    color: var(--blue);
}
.progress-bar:hover {
    background-color: var(--green);
}
.chart {
    padding: 1rem 0 3rem;
}
.blue-back {
    background-color: var(--blue);
}
/*----------------------xx//Visions Selector//xx---------------------------*/
/*----------------------//Visions presenter//---------------------------*/
.vi-presenter {
    padding-top: 2rem;
    text-align: center;
    line-height: 1.5em;
    background-color: var(--blue);
}
.vi-presenter * span {
    color: red;
}
.vi-presenter img {
    width: 350px;
}
.monkey-row {
    padding-top: 2rem;
}
.list li {
    line-height: 2rem;
    font-size: 1.25rem;
}
.vi-topics {
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.list {
    text-align: left;
}
.vi-topics li {
    list-style-type: square;
    line-height: 2rem;
    font-size: 1.25rem;
}
li a {
        color: var(--light);
}
li a:hover {
        color: var(--green);
        text-decoration: none;
}
.col-sm-7 {
    padding-top: 1rem;
}
/*----------------------xx//Visions presenter//xx---------------------------*/
/*----------------------//Footer Style//---------------------------*/
footer {
    background-color: var(--blue);
    border-top: 5px solid var(--green);
}
.copyright {
    font-size: 1.5em ;
}
.designer {
    margin-left: 2rem ;
    font-size: 1rem ;
}
.text {
    text-align: center;
}
/*----------------------xx//Footer Style//xx---------------------------*/
/*----------------------//Contact Form Style//---------------------------*/
.contact-form-wrapper {
    width: 50%;
    margin: auto;
    padding-top: 3rem;
    text-align: center;
    background-color: var(--light);
}
.contact-form {
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.cf-name, .cf-message, .cf-email, .cf-send {
    margin-bottom: 1rem;
}
.cf-btn {
    background-color: var(--blue);
    color: var(--light);
}
.cf-btn:hover {
    background-color: var(--green);
}
/*----------------------xx//Contact Form Style//xx---------------------------*/
/*----------------------//Media Queries//---------------------------*/
@media only screen and (max-width: 600px) {
    /*---------//Hero//----------*/
    .hero-info {
        margin-top: 150px;
    }
    .hero-container {
        margin-left: 50px;
    }
    /*---------xx//Hero//xx----------*/
    /*---------//How it works//----------*/
    .how-tagline {
        margin-left: 25px;
    }
    .how-info-box {
        padding: 1rem;
        margin: 5px;
    }
    .text {
        margin: 0;
        padding: 0;
    }
    /*---------xx//How it works//xx----------*/
    /*---------//Why it works//----------*/
    .about-image{
        height: 40vh;
    }
    /*---------xx//Why it works//xx----------*/
    /*---------//Visions Presenter//----------*/
    .space {
        min-width: 200px;
    }
}
/*----------------------xx//Media Queries//xx---------------------------*/
/*----------------------//Components//---------------------------*/

/*-------------//Buttons//------------- */
/*Fancy link source - https://www.youtube.com/watch?v=ceNMP-aQkQ4&t=949s*/
.fancy-link {
    position: relative;
}
.fancy-link::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 87%;
    height: 2px;
    background-color: currentColor;
    transform: scalex(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
    color: var(--green);
}
.fancy-link-2::after {
    width: 83%;
}
.fancy-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    color: var(--green);
}
/*Wayne's code below*/
a.fancy-link {
    font-size: 1.5em;
    color: var(--green);
}
a.fancy-link:hover {
    color: var(--green);
}
/*-------------xx//Buttons//xx------------- */
/*----------------------xx//Components//xx---------------------------*/